<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-field">
    <label for="name">Name:</label>
    <input id="name" type="text" formControlName="name" required>
  </div>

  <div class="form-field">
    <label for="address">Address:</label>
    <textarea id="address" formControlName="address" required></textarea>
  </div>

  <div class="form-field">
    <label for="category">Category:</label>
    <select id="category" formControlName="category" required>
      <option value="">-- Select category --</option>
      <option value="Tier1">Tier 1</option>
      <option value="Tier2">Tier 2</option>
      <option value="Tier3">Tier 3</option>
    </select>
  </div>

  <div class="form-field">
    <label for="parentNeType">Parent Type</label>
    <select id="parentNeType" formControlName="parentNeType" required>
      <option value="Handhold">Hand-hold</option>
      <option value="Manhole">Man-hole</option>
      <option value="Pole">Pole</option>
    </select>
  </div>

  <div class="form-field">
    <label for="status">Status:</label>
    <select id="status" formControlName="status" required>
      <option value="">-- Select status --</option>
      <option value="InService">In Service</option>
      <option value="Planned">Planned</option>
    </select>
  </div>

 <button *ngIf="!isEditMode" type="submit" [disabled]="form.invalid">Submit</button>
  <button *ngIf="isEditMode" type="submit" [disabled]="form.invalid">Update</button>
</form>