.inline-block{
  position: absolute;
  right: 0;
  margin-right: 25px;
  margin-top: 3px;
}

.layer-label{
  margin-left: 8px;
  margin-right: 5px
}
.form-group{
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  gap: 8px;
}
