/* Badge styles */
.badge {
  padding: 0.25em 0.5em;
  border-radius: 0.25rem;
  font-size: 0.875em;
  font-weight: 500;
}

.badge-initiated {
  background-color: #6c757d;
  color: white;
}

.badge-assigned {
  background-color: #ffc107;
  color: #212529;
}

.badge-in-progress {
  background-color: #0dcaf0;
  color: #212529;
}

.badge-approved {
  background-color: #198754;
  color: white;
}

.badge-completed {
  background-color: #0d6efd;
  color: white;
}

/* Status header row */
.status-header-row {
  color: #524fb273;
  /* font-weight: 200; */
  font-size: 12px;
}

/* Button styles */
.p-button-success {
  background-color: #198754;
}

.p-button-success-completed {
  background-color: #0d6efd;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px; /* Adjust as needed */
}

.required-star {
  color: red;
}