.container
{
    width: 100%;
}

.transaction
{
    width: 50%;
    float: left;
}

.opration
{
    width: 50%;
    float:right; 
}

.div {
  display: flex;
  justify-content: flex-end; /* Pushes button to the right */
  margin: 10px 0; /* Optional spacing */
  padding-right: 20px;
}

.text-end {
  text-align: end;
}

.map-panel-button {
  padding: 8px 12px;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-panel-button:hover {
  background: #f5f5f5;
}

.map-panel-button i {
  margin-right: 5px;
}
