<div class="">
 <div class="icon-title" *ngIf="showHeader">
  <img src="assets/icons/joint_closure.svg" alt="Joint Closure" width="24" height="24">
  <h3 class="truncate" title="Joint Closure">Joint Closure</h3>
</div>

<br>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-field">
    <label for="name">
      Name: <span class="required-star">*</span>
    </label>
    <input id="name" type="text" formControlName="name" required>
    <span class="error-message" *ngIf="form.get('name')?.errors?.['required'] && form.get('name')?.touched">
        Name is required
    </span>
  </div>

<ng-container *ngIf="shouldShowAccessoryFields()">

  <ng-container *ngFor="let field of specificationParametersDTOList">
  <div class="form-field" *ngIf="!field.isAccessories && !field.isConfiguration">
    <label>{{ field.paramName }}</label>
    <select *ngIf="field.isMultiValueParam" [formControlName]="field.paramName">
      <option value="">-- Select --</option>
      <option *ngFor="let val of field.paramMultiValues" [value]="val">
        {{ val }}
      </option>
    </select>
    <input *ngIf="!field.isMultiValueParam" type="text" [formControlName]="field.paramName">
  </div>
</ng-container>

<ng-container *ngIf="shouldShowAccessoryFields()">
  
  <div [formGroup]="accessoryForm" class="form-field-group">

  <div class="form-field">
    <label>Accessory Category</label>
    <select formControlName="paramName" (change)="onSingleAccessoryFieldChanged()">
      <option value="">-- Select Category --</option>
      <option *ngFor="let cat of accessoryCategoryList">{{cat}}</option>
    </select>
  </div>

  <div class="form-field">
    <label>Accessory Value</label>
    <select formControlName="paramValue">
      <option value="">-- Select Value --</option>
      <option *ngFor="let val of singleAccessoryValues">{{val}}</option>
    </select>
  </div>

  <div class="form-field">
    <label>Quantity</label>
    <input type="number" formControlName="quantity">
  </div>

  <div class="form-field">
    <button class="addbutton" type="button" [disabled]="accessoryForm.invalid" (click)="addAccessoryToList()">+ Add Accessory</button>
  </div>
</div>

</ng-container>

</ng-container>  


  <div class="form-field">
    <label for="jointType">
      Joint Type <span class="required-star">*</span>
    </label>
    <select id="jointType" formControlName="jointType" required>
      <option value="">-- Select Joint Type --</option>
      <option value="Splice">Splice</option>
      <option value="Splitter">Splitter</option>
      <option value="Transition">Transition</option>
    </select>
    <span class="error-message" *ngIf="form.get('jointType')?.errors?.['required'] && form.get('jointType')?.touched">
        Joint Type is required
    </span>
  </div>

   <div class="form-field">
    <label for="mountedIn">
      Mounted In: <span class="required-star">*</span>
    </label>
    <select id="mountedIn" formControlName="mountedIn" required>
      <option value="">-- Select --</option>
      <option value="Handhole">Handhole</option>
      <option value="Manhole">Manhole</option>
      <option value="Pole">Pole</option>
      <option value="Cabinet">Cabinet</option>
    </select>
    <span class="error-message" *ngIf="form.get('mountedIn')?.errors?.['required'] && form.get('mountedIn')?.touched">
        Mounted In is required
    </span>
  </div>


  <div class="form-field">
    <label for="parentNeType">
      Parent Type <span class="required-star">*</span>
    </label>
    <select id="parentNeType" formControlName="parentNeType" required>
      <option value="Handhold">Handhold</option>
      <option value="Manhole">Manhole</option>
      <option value="Pole">Pole</option>
    </select>
    <span class="error-message" *ngIf="form.get('parentNeType')?.errors?.['required'] && form.get('parentNeType')?.touched">
        ParentNe Type is required
    </span>

  </div>
  
  <!-- Coordinates Validation -->
  <div *ngIf="(form.get('longitude')?.errors?.['required'] || form.get('latitude')?.errors?.['required']) && 
               (form.get('longitude')?.touched || form.get('latitude')?.touched)" 
       class="error-message">
    Please select a location on the map
  </div>

  <div class="form-actions-wrapper">
    <div class="form-actions">
      <button type="submit" [disabled]="form.invalid" class="submit-btn">Submit</button>
      <button type="button" (click)="onCancel()" class="cancel-btn">Cancel</button>
    </div>
  </div>
</form>

<table *ngIf="inventoryList.length > 0" class="accessory-table">
  <thead>
    <tr>
      <th>Category</th>
      <th>Value</th>
      <th>Qty</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fg of inventoryList.controls; let i = index">
      <td>{{ fg.get('paramName')?.value }}</td>
      <td>{{ fg.get('paramValue')?.value }}</td>
      <td>{{ fg.get('quantity')?.value }}</td>
      <td>
        <button pButton icon="pi pi-trash" class="p-button-text p-button-danger p-button-sm"
          (click)="removeAccessoryDetail(i)"></button>
      </td>
    </tr>
  </tbody>
</table>


</div>