<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-field">
    <label for="name">Name:</label>
    <input id="name" type="text" formControlName="name" required>
  </div>

  <div class="form-field">
    <label for="holeSize">Hole Size(M):</label>
    <input id="holeSize" type="number" formControlName="holeSize" required>
  </div>

  <div class="form-field">
    <label for="material">Material Type</label>
    <select id="material" formControlName="material" required>
      <option value="">-- Select Material Type--</option>
      <option value="Plastic">Plastic</option>
      <option value="Concrete">Concrete</option>
      <option value="Steel">Steel</option>
    </select>
  </div>


  <div class="form-field">
    <label for="accessType">Access Type</label>
    <select id="accessType" formControlName="accessType" required>
      <option value="">-- Select Access Type  --</option>
      <option value="TopOpen">Top Open</option>
      <option value="SideAccess">Side Access</option>
    </select>
  </div>

  <div class="form-field">
    <label for="status">Status</label>
    <select id="status" formControlName="status" required>
      <option value="">-- Select Status --</option>
      <option value="Planned">Planned</option>
      <option value="InService">In Service</option>
      <option value="Inactive">Inactive</option>
    </select>
  </div>
  
  <button type="submit" [disabled]="form.invalid">Submit</button>
</form>