

.btn.btn-primary.btn-lg:hover {
    /* background-color: #f7a806 !important;
    border-color: #f7a806 !important; */
    background-color: #000DFF !important;
    border-color: #000DFF !important;
}
