<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="panel">
      <div class="panel-heading">
        <h3 *ngIf="!isMvnoEdit" class="panel-title">Create {{ mvnoTitle }}</h3>
        <h3 *ngIf="isMvnoEdit" class="panel-title">Update {{ mvnoTitle }}</h3>
        <div class="right">
          <button
            id="create"
            aria-controls="createPreCust"
            aria-expanded="false"
            class="btn-toggle-collapse"
            data-bs-target="#createPreCust"
            data-bs-toggle="collapse"
            type="button"
          >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>

      <div class="panel-collapse collapse show" id="createPreCust">
        <div class="panel-body">
          <form [formGroup]="mvnoFormGroup">
            <fieldset style="margin-top: 1.5rem">
              <legend>{{ mvnoTitle }} Details</legend>
              <div class="boxWhite">
                <div class="form-group row">
                  <div class="col-md-12 ml-12">
                    <div
                      class="borderuploadphoto"
                      *ngIf="!profileImage"
                      style="
                        border: 1px solid black !important;
                        background: url(&quot;../assets/img/user.png&quot;);
                      "
                    >
                      <button
                        type="button"
                        class="upload_btn-profileimage"
                        style="border: none; width: 23%; height: 35px; padding: 5px"
                      >
                        <label for="upload-profileImage"> <i class="fa fa-camera"></i></label>
                        <input
                          type="file"
                          name="photo"
                          id="upload-profileImage"
                          (change)="onFileChangeUpload($event)"
                          accept=".jpg, .jpeg, .png"
                          maxlength="2097152"
                          style="display: none"
                        />
                      </button>
                    </div>
                    <div
                      class="borderuploadphoto"
                      *ngIf="profileImage"
                      style="
                            border: 1px solid black !important;
                            background: url('{{ profileImage }}');
                          "
                    >
                      <button
                        type="button"
                        class="upload_btn-profileimage"
                        style="border: none; width: 23%; height: 35px; padding: 5px"
                      >
                        <label for="upload-profileImage"><i class="fa fa-camera"></i></label>
                        <input
                          type="file"
                          name="photo"
                          id="upload-profileImage"
                          (change)="onFileChangeUpload($event)"
                          accept="image/*"
                          style="display: none"
                        />
                      </button>
                    </div>
                    <label style="text-align: center; display: flex; justify-content: center"
                      >Profile Image</label
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                    <label>{{ mvnoTitle }} FullName*</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter {{ mvnoTitle }} FullName"
                      formControlName="fullName"
                      [ngClass]="{
                        'is-invalid': submitted && mvnoFormGroup.controls['fullName'].errors
                      }"
                    />
                    <div
                      class="errorWrap text-danger"
                      *ngIf="submitted && mvnoFormGroup.controls['fullName'].errors"
                    >
                      <div
                        class="errorWrap text-danger"
                        *ngIf="submitted && mvnoFormGroup.controls['fullName'].errors"
                      >
                        <div
                          class="error text-danger"
                          *ngIf="submitted && mvnoFormGroup.controls['fullName'].errors?.['required']"
                        >
                          {{ mvnoTitle }} FullName is required.
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                    <label>{{ mvnoTitle }} Name*</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter {{ mvnoTitle }} Name"
                      (change)="generateUserName()"
                      formControlName="name"
                      [ngClass]="{
                        'is-invalid': submitted && mvnoFormGroup.controls['name'].errors
                      }"
                    />
                    <div
                      class="errorWrap text-danger"
                      *ngIf="submitted && mvnoFormGroup.controls['name'].errors"
                    >
                      <div
                        class="errorWrap text-danger"
                        *ngIf="submitted && mvnoFormGroup.controls['name'].errors"
                      >
                        <div
                          class="error text-danger"
                          *ngIf="submitted && mvnoFormGroup.controls['name'].errors?.['required']"
                        >
                          {{ mvnoTitle }} Name is required.
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                    <label>User Name</label>
                    <input
                      [readonly]="true"
                      type="text"
                      name="username"
                      class="form-control"
                      placeholder="Enter {{ mvnoTitle }} username"
                      formControlName="username"
                      [ngClass]="{
                        'is-invalid': submitted && mvnoFormGroup.controls['username'].errors
                      }"
                    />
                    <div
                      class="errorWrap text-danger"
                      *ngIf="submitted && mvnoFormGroup.controls['username'].errors"
                    >
                      <div
                        class="error text-danger"
                        *ngIf="submitted && mvnoFormGroup.controls['username'].errors?.['required']"
                      >
                        {{ mvnoTitle }} Username is required
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15" *ngIf="!editMode">
                    <label>Password *</label>
                    <input
                      [readonly]="isMvnoEdit"
                      type="password"
                      name="password"
                      class="form-control"
                      placeholder="Enter {{ mvnoTitle }} password"
                      formControlName="password"
                      [ngClass]="{
                        'is-invalid': submitted && mvnoFormGroup.controls['password'].errors
                      }"
                    />
                    <div
                      class="errorWrap text-danger"
                      *ngIf="submitted && mvnoFormGroup.controls['password'].errors"
                    >
                      <div
                        class="error text-danger"
                        *ngIf="submitted && mvnoFormGroup.controls['password'].errors?.['required']"
                      >
                        {{ mvnoTitle }} Password is required
                      </div>
                    </div>
                    <!-- <br /> -->
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                    <label>Phone*</label>
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Enter Phone"
                      formControlName="phone"
                      [ngClass]="{
                        'is-invalid': submitted && mvnoFormGroup.controls['phone'].errors
                      }"
                    />
                    <div
                      class="errorWrap text-danger"
                      *ngIf="submitted && mvnoFormGroup.controls['phone'].errors"
                    >
                      <div
                        class="errorWrap text-danger"
                        *ngIf="submitted && mvnoFormGroup.controls['phone'].errors"
                      >
                        <div
                          class="error text-danger"
                          *ngIf="submitted && mvnoFormGroup.controls['phone'].errors?.['required']"
                        >
                          Phone is required.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                    <label>Email*</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter Email"
                      formControlName="email"
                      [ngClass]="{
                        'is-invalid': submitted && mvnoFormGroup.controls['email'].errors
                      }"
                    />
                    <div
                      class="errorWrap text-danger"
                      *ngIf="submitted && mvnoFormGroup.controls['email'].errors"
                    >
                      <div
                        class="error text-danger"
                        *ngIf="submitted && mvnoFormGroup.controls['email'].errors?.['required']"
                      >
                        Email is required.
                      </div>
                      <div
                        class="error text-danger"
                        *ngIf="submitted && mvnoFormGroup.controls['email'].errors?.['email']"
                      >
                        Email is not valid.
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                    <label>Suffix</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter Suffix"
                      formControlName="suffix"
                    />
                    <!-- <div
                      class="errorWrap text-danger"
                      *ngIf="submitted && mvnoFormGroup.controls.suffix.errors"
                    >
                      <div
                        class="error text-danger"
                        *ngIf="submitted && mvnoFormGroup.controls.suffix.errors.required"
                      >
                        Suffix is required.
                      </div>
                    </div> -->
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                    <label>Log File</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter Log File"
                      formControlName="logfile"
                    />
                    <!-- <div
                      class="errorWrap text-danger"
                      *ngIf="submitted && mvnoFormGroup.controls.logfile.errors"
                    >
                      <div
                        class="error text-danger"
                        *ngIf="submitted && mvnoFormGroup.controls.logfile.errors.required"
                      >
                        Log File is required.
                      </div>
                    </div> -->
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                    <label>{{ mvnoTitle }} Header</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter {{ mvnoTitle }} Header"
                      formControlName="mvnoHeader"
                    />
                    <!-- <div
                      class="errorWrap text-danger"
                      *ngIf="submitted && mvnoFormGroup.controls.mvnoHeader.errors"
                    >
                      <div
                        class="error text-danger"
                        *ngIf="submitted && mvnoFormGroup.controls.mvnoHeader.errors.required"
                      >
                        {{ mvnoTitle }} Header is required.
                      </div>
                    </div> -->
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                    <label>{{ mvnoTitle }} Footer</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter {{ mvnoTitle }} Footer"
                      formControlName="mvnoFooter"
                    />
                    <!-- <div
                      class="errorWrap text-danger"
                      *ngIf="submitted && mvnoFormGroup.controls.mvnoFooter.errors"
                    >
                      <div
                        class="error text-danger"
                        *ngIf="submitted && mvnoFormGroup.controls.mvnoFooter.errors.required"
                      >
                        {{ mvnoTitle }} Footer is required.
                      </div>
                    </div> -->
                  </div>

                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                    <label>2FAuth Enabled*</label>
                    <p-dropdown
                      [options]="twofaOptions"
                      optionValue="label"
                      optionLabel="label"
                      [filter]="true"
                      filterBy="label"
                      placeholder="Select 2FA Auth"
                      formControlName="isTwoFactorEnabled"
                      #ddlAuthType
                      (onChange)="changeAuthType($event, ddlAuthType)"
                      [ngClass]="{
                        'is-invalid': submitted && mvnoFormGroup.controls['isTwoFactorEnabled'].errors
                      }"
                    ></p-dropdown>
                    <div></div>
                    <div
                      class="errorWrap text-danger"
                      *ngIf="submitted && mvnoFormGroup.controls['isTwoFactorEnabled'].errors"
                    >
                      <div
                        class="error text-danger"
                        *ngIf="
                          submitted && mvnoFormGroup.controls['isTwoFactorEnabled'].errors?.['required']
                        "
                      >
                        {{ mvnoTitle }} 2FAuth Enabled is required.
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                    <label
                      >2FAuth Type
                      {{ mvnoFormGroup.value.isTwoFactorEnabled == "true" ? "*" : "" }}</label
                    >
                    <p-dropdown
                      [disabled]="mvnoFormGroup.value.isTwoFactorEnabled !== 'true'"
                      [options]="twofaType"
                      optionValue="value"
                      optionLabel="displayName"
                      [filter]="true"
                      filterBy="label"
                      placeholder="Select 2FA Auth Type"
                      formControlName="authEventName"
                      [ngClass]="{
                        'is-invalid': submitted && mvnoFormGroup.controls['authEventName'].errors
                      }"
                    ></p-dropdown>
                    <div></div>
                    <div
                      class="errorWrap text-danger"
                      *ngIf="submitted && mvnoFormGroup.controls['authEventName'].errors"
                    >
                      <div
                        class="error text-danger"
                        *ngIf="submitted && mvnoFormGroup.controls['authEventName'].errors?.['required']"
                      >
                        {{ mvnoTitle }} 2FAuth Auth Type is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                    <label>Status*</label>
                    <p-dropdown
                      [options]="statusOptions"
                      optionValue="label"
                      optionLabel="label"
                      [filter]="true"
                      filterBy="label"
                      placeholder="Select a Status"
                      formControlName="status"
                      [ngClass]="{
                        'is-invalid': submitted && mvnoFormGroup.controls['status'].errors
                      }"
                    ></p-dropdown>
                    <div></div>
                    <div
                      class="errorWrap text-danger"
                      *ngIf="submitted && mvnoFormGroup.controls['status'].errors"
                    >
                      <div
                        class="error text-danger"
                        *ngIf="submitted && mvnoFormGroup.controls['status'].errors?.['required']"
                      >
                        {{ mvnoTitle }} Status is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                    <label>Roles*</label>
                    <p-dropdown
                      id="roles"
                      [options]="roleList"
                      placeholder="Select a Role"
                      formControlName="roleId"
                      optionLabel="rolename"
                      optionValue="id"
                      [filter]="true"
                      filterBy="label"
                    ></p-dropdown>
                    <div
                      class="errorWrap text-danger"
                      *ngIf="submitted && mvnoFormGroup.controls['roleId'].errors"
                    >
                      <div
                        class="error text-danger"
                        *ngIf="submitted && mvnoFormGroup.controls['roleId'].errors?.['required']"
                      >
                        Role is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                    <label>Payment Due Days</label>
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Enter Payment"
                      min="1"
                      formControlName="mvnoPaymentDueDays"
                      pattern="[0-9]*"
                    />
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                    <label>Address</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter Address"
                      formControlName="address"
                    />
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                    <label>ISP Commission* %</label>
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Enter Percentage"
                      min="1"
                      formControlName="ispCommissionPercentage"
                      pattern="[0-9]*"
                      [ngClass]="{
                        'is-invalid':
                          submitted && mvnoFormGroup.controls['ispCommissionPercentage'].errors
                      }"
                    />
                    <div
                      class="errorWrap text-danger"
                      *ngIf="submitted && mvnoFormGroup.controls['ispCommissionPercentage'].errors"
                    >
                      <div
                        class="error text-danger"
                        *ngIf="
                          submitted &&
                          mvnoFormGroup.controls['ispCommissionPercentage'].errors?.['required']
                        "
                      >
                        ISP Commission is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                    <label>ISP Bill Generation Day*</label>
                    <p-dropdown
                      id="ispBillDay"
                      [options]="days"
                      optionValue="label"
                      optionLabel="label"
                      [filter]="true"
                      filterBy="label"
                      placeholder="Select a Day"
                      formControlName="ispBillDay"
                      [ngClass]="{
                        'is-invalid': submitted && mvnoFormGroup.controls['ispBillDay'].errors
                      }"
                    ></p-dropdown>
                    <div
                      class="errorWrap text-danger"
                      *ngIf="submitted && mvnoFormGroup.controls['ispBillDay'].errors"
                    >
                      <div
                        class="error text-danger"
                        *ngIf="submitted && mvnoFormGroup.controls['ispBillDay'].errors?.['required']"
                      >
                        ISP Bill Generation Day is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                    <label>Client Id</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter Client Id"
                      formControlName="clientId"
                    />
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-15">
                    <label>Description*</label>
                    <textarea
                      class="form-control"
                      rows="4"
                      formControlName="description"
                      placeholder="Enter Description"
                      [ngClass]="{
                        'is-invalid': submitted && mvnoFormGroup.controls['description'].errors
                      }"
                    ></textarea>
                    <div
                      class="errorWrap text-danger"
                      *ngIf="submitted && mvnoFormGroup.controls['description'].errors"
                    >
                      <div
                        class="error text-danger"
                        *ngIf="submitted && mvnoFormGroup.controls['description'].errors?.['required']"
                      >
                        Description is required.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>

          <div class="addUpdateBtn" style="margin-top: 3.5rem">
            <button
              type="submit"
              class="btn btn-primary"
              *ngIf="!isMvnoEdit"
              id="submit"
              (click)="addEditMvno('')"
            >
              <i class="fa fa-check-circle"></i>
              Add {{ mvnoTitle }}
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              *ngIf="isMvnoEdit"
              id="submit"
              (click)="addEditMvno(viewMvnoData.id)"
            >
              <i class="fa fa-check-circle"></i>
              Update {{ mvnoTitle }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
