@import "@ng-select/ng-select/themes/default.theme.css";
.form-control.ng-select {
  border: none;
  padding: 0;
}

.ml-15 {
  padding-top: 15px;
}
.error {
  color: red;
}

.form-group {
  padding-top: 5px;
}

.position {
  position: absolute;
}

input.ng-invalid.ng-touched,
ng-select.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 1px solid red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.borderuploadphoto {
  width: 150px;
  height: 150px;
  margin: 18px auto 10px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border: 1px solid #cecdcd !important;
  background-position: center !important;
  background-color: whitesmoke !important;
}

.upload_btn-profileimage {
  border: none;
  background-color: #000000bf;
  font-size: 17px;
  color: white;
  border-radius: 15px;
}

.upload_btn-profileimage:hover {
  color: #b2d0f0;
}

.underDevelopBadge {
  padding: 6px 10px !important;
}


.action-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
}


/* AddSDUToFAT button */
.areamapping-btn {
  background-color: #007bff; 
  color: white;
}

.areamapping-btn:hover {
  background-color: #0069d9;
}

.areamapping-btn:active {
  background-color: #0056b3;
}


.area-table-wrapper {
  border: 1px solid #dee2e6;
  border-radius: 8px;
  max-height: 250px;      /* Limit height inside popup */
  overflow-y: auto;       /* Scroll only table body */
}

/* Table styling only for area table */
.area-table {
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;
}

.area-table thead th {
  position: sticky;
  top: 0;
  background-color: #202e78 !important;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  z-index: 2;
}

.area-table tbody tr:hover {
  background-color: #f8f9fa;
}

/* Optional scrollbar styling */
.area-table-wrapper::-webkit-scrollbar {
  width: 8px;
}

.area-table-wrapper::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border-radius: 4px;
}


