<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-field">
    <label for="name">Name:</label>
    <input id="name" type="text" formControlName="name" required>
  </div>

  <div class="form-field">
    <label for="manholeSize">Man Hole Size(MM):</label>
    <input id="manholeSize" type="number" formControlName="manholeSize" required>
  </div>

  <div class="form-field">
    <label for="depthCm">Depth(CM):</label>
    <input id="depthCm" type="number" formControlName="depthCm" required>
  </div>

  <div class="form-field">
    <label for="coverType">Cover Type:</label>
    <input id="coverType" type="text" formControlName="coverType" required>
  </div>
 

  <div class="form-field">
    <label for="status">Status</label>
    <select id="status" formControlName="status" required>
      <option value="">-- Select Status --</option>
      <option value="Planned">Planned</option>
      <option value="InService">In Service</option>
      <option value="Inactive">Inactive</option>
    </select>
  </div>
  
  <button type="submit" [disabled]="form.invalid">Submit</button>
</form>