<!-- layers.component.html -->
<div class="layers-container layers-panel" *ngIf="isShowLayers">
  
  <div class="layers-section">
    <h3>Base Layers</h3>
    <ng-container *ngFor="let layer of layers">
    <div class="layer-item" *ngIf="layer.name !== 'surveyArea' || hasSurveyViewPermission">
      <input type="checkbox" [id]="'layer-' + layer.name" [checked]="layer.visible"
        (change)="toggleLayer($event, layer)">
      <label [for]="'layer-' + layer.name">
        <img class="layer-img" *ngIf="layer.img" [src]="layer.img" width="20" height="20">
        {{ layer.displayName }}
           <div *ngIf="layer.name === 'countryBorder' && layer.visible && layerNames[layer.name]" class="country-name"
        [title]="layerNames[layer.name]">
        <span class=""> {{ layerNames[layer.name] }}001</span>
      </div>
      </label>
      <div *ngIf="layer.name === 'counties' && layer.visible && countiesList?.length > 0" class="counties-name">
        <div *ngFor="let county of countiesList" class="layer-item">
          <input type="checkbox" [id]="'county-' + county.adm1Name" [checked]="countyVisibility[county.adm1Name] !== false"
           (change)="toggleCounty($event, county)">
          <label [for]="'county-' + county.adm1Name">{{ county.adm1Name }}</label>
        </div>
      </div>
      <div *ngIf="layer.name === 'districts' && layer.visible && districtsList?.length > 0" class="districts-name">
        <div *ngFor="let district of districtsList" class="layer-item">
          <input type="checkbox" [id]="'district-' + district.adm2Name" [checked]="districtVisibility[district.adm2Name] !== false"
           (change)="toggleDistrict($event, district)">
          <label [for]="'district-' + district.adm2Name">{{ district.adm2Name }}</label>
        </div>
      </div>
    </div>
    </ng-container>


  <!-- <div class="layer-item">
    <input type="checkbox" id="areaMappingCheckbox"
      [(ngModel)]="showAreaMapping"
      (change)="onAreaMappingToggle()">
    <label for="areaMappingCheckbox">Area Mapping</label>
  </div> -->

  <div class="layer-item">
  <input type="checkbox" id="areaMappingCheckbox"
    [(ngModel)]="showAreaMapping"
    (change)="onAreaMappingToggle()">
  <label for="areaMappingCheckbox">Area Mapping</label>
</div>

<!-- Sub-checkboxes for Area Mapping -->
<!-- Sub-checkboxes for Area Mapping -->
<div *ngIf="showAreaMapping && areaMappingData">
  <!-- Country -->
  <div *ngIf="areaMappingData.country?.length">
    <div *ngFor="let country of areaMappingData.country" class="layer-item">
      <input type="checkbox"
        [id]="'area-mapping-country-' + country.countryName"
        [(ngModel)]="countryVisibility[country.countryName]"
        (change)="onAreaMappingCountryToggle()">
      <label [for]="'area-mapping-country-' + country.countryName">{{ country.countryName }}</label>
    </div>
  </div>
  <!-- State -->
  <div *ngIf="areaMappingData.state?.length">
    <div *ngFor="let state of areaMappingData.state" class="layer-item">
      <input type="checkbox"
        [id]="'area-mapping-state-' + state.stateName"
        [(ngModel)]="stateVisibility[state.stateName]"
        (change)="onAreaMappingStateToggle()">
      <label [for]="'area-mapping-state-' + state.stateName">{{ state.stateName }}</label>
    </div>
  </div>
  <!-- District -->
  <div *ngIf="areaMappingData.district?.length">
    <div *ngFor="let district of areaMappingData.district" class="layer-item">
      <input type="checkbox"
        [id]="'area-mapping-district-' + district.district"
        [(ngModel)]="districtsVisibility[district.district]"
        (change)="onAreaMappingDistrictToggle()">
      <label [for]="'area-mapping-district-' + district.district">{{ district.district }}</label>
    </div>
  </div>
</div>


    
    <div class="layers-section" *ngIf="surveyAreas.length && isSurveyLayerVisible">
      <h3 *ngIf="surveyAreas.length">Survey Areas</h3>
      <div class="search-container">
      <input type="text" 
             [(ngModel)]="surveySearchTerm" 
             (input)="filterSurveyAreas()"
             placeholder="Search survey names...">
    </div>
    <!-- Show message when no matches -->
    <div *ngIf="filteredSurveyAreas.length === 0" class="no-survey-msg">
      No survey found
    </div>

      <div *ngFor="let area of filteredSurveyAreas" class="layer-item">
        <input type="checkbox" [id]="'area-' + area.id" [checked]="selectedSurveyAreas[area.id]"
          (change)="toggleSurveyArea($event, area)">
        <label class="truncate" [for]="'area-' + area.id">{{ area.name }}
          <!-- <span (click)="deleteSurvey(area.id)"><i class="pi pi-times text-danger pi-delete"></i></span> -->
        </label>
      </div>
    </div>
    <div *ngIf="getLayerFeatureKeys().length > 0 && isSurveyLayerVisible && isAnySurveyAreaSelected()"
      class="layers-section">
      <h3>Features</h3>
      <div *ngFor="let layer of getLayerFeatureKeys()" class="feature-group">
        <div class="layer-item">
          <input type="checkbox" [id]="'all-' + layer" [checked]="isAllFeaturesSelected(layer)"
            (change)="toggleAllFeatures($event, layer)">
          <label [for]="'all-' + layer">{{ layer | uppercase }}</label>
        </div>

        <div *ngFor="let feature of layerFeatures[layer]" class="feature-item">
          <!-- [class.hidden]="!featureVisibility[layer]?.[feature.publicId]" -->
          <input type="checkbox" [id]="'feature-' + feature.publicId"
            [checked]="featureVisibility[layer]?.[feature.publicId] !== false"
            (change)="toggleFeature($event, layer, feature.publicId)">
          <label [for]="'feature-' + feature.publicId" class="truncate" title="{{feature.name}}">
            {{ feature.name}}</label>
        </div>
      </div>
    </div>
  </div>
</div>