<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="displayflex">
          <button
            (click)="customerDetailOpen()"
            class="btn btn-secondary backbtn"
            data-placement="bottom"
            data-bs-toggle="tooltip"
            title="Go to Customer Details"
            type="button"
          >
            <i
              class="fa fa-arrow-circle-left"
              style="color: darkblue !important; font-size: 28px"
            ></i>
          </button>
          <h3 class="panel-title">
            {{ custData.title }}
            {{ custData.firstname }} {{ custData.lastname }} Audit Details
          </h3>
        </div>
        <div class="right">
          <button
            aria-controls="custStatus"
            aria-expanded="false"
            class="btn-toggle-collapse"
            data-bs-target="#custStatus"
            data-bs-toggle="collapse"
            type="button"
          >
            <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>
      <div class="panel-collapse collapse show" id="custStatus">
        <div class="panel-body table-responsive">
          <div style="margin: 20px">
            <h3>Workflow Audit</h3>
            <div class="table-responsive">
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Audit Date</th>
                        <th>Enployee Name</th>
                        <th>Module</th>
                        <th>Operation</th>
                        <th>Remark</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let audit of auditData
                            | paginate
                              : {
                                  id: 'searchAuditPageData',
                                  itemsPerPage: AudititemsPerPage1,
                                  currentPage: currentPageAuditSlab1,
                                  totalItems: AudittotalRecords1
                                };
                          index as i
                        "
                      >
                        <td style="width: 5%">{{ audit.auditDate }}</td>
                        <td style="width: 5%">{{ audit.employeeName }}</td>
                        <td style="width: 5%">{{ audit.module }}</td>
                        <td style="width: 5%">{{ audit.operation }}</td>
                        <td>
                          <div style="text-overflow: ellipsis">{{ audit.remark }}</div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <br />
                  <br />
                  <div class="pagination_Dropdown">
                    <pagination-controls
                      (pageChange)="pageChangedAuditList($event)"
                      [directionLinks]="true"
                      id="searchAuditPageData"
                      [maxSize]="10"
                      nextLabel=""
                      previousLabel=""
                    ></pagination-controls>
                    <div id="itemPerPageDropdown">
                      <p-dropdown
                        (onChange)="TotalItemPerPageAudit($event)"
                        [options]="pageLimitOptions"
                        optionLabel="value"
                        optionValue="value"
                      ></p-dropdown>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
