<div class="map-container">
  <div id="feature-tooltip" class="feature-tooltip"></div>

  <button (click)="switchToAdminPanel()" class="admin-panel-button" title="Admin Panel">
    <i class="fa fa-tachometer-alt"></i>
  </button>

  <button *ngIf="hasSurveyAssignPermission" (click)="openSurveyAssignment()" class="survey-area-button"
    title="Assign Survey">
    <i class="fa-solid fa-square-poll-vertical"></i>
  </button>

  <app-search [searchService]="geocodingService.search.bind(geocodingService)"
    (searchResultSelected)="zoomToResult($event)" (searchStarted)="clearForms()">
  </app-search>

  <button (click)="logout()" class="logout-button" title="LogOut">
    <img src="./assets/logout.svg" width="30px">
  </button>

  <button
    *ngIf="apiService.getRoleName() == 'Admin' && !modifyInteraction && selectedSurveyAreaId && isSelectedSurveyInitiated()"
    (click)="editSurveyArea()" class="edit-survey-button" title="Edit Survey Area">
    <img src="./assets/icons/edit.svg" width="30px">
  </button>

  <div class="map-controls">
    <app-zoom (zoomIn)="onZoomIn()" (zoomOut)="onZoomOut()" (centerMap)="handleCenterMap($event)">
      <!-- (centerMap)="handleCenterMap($event) -->
    </app-zoom>
    <button (click)="toggleFullscreen()" class="fullscreen-button" title="Toggle Fullscreen">
  <i class="fa fa-expand"></i>
</button>
  </div>

  <div id="map-container" class="map"></div>
  <div class="layer-controls">
    <button (click)="OpenControls()" style="float: right;" title="Layers">
      <img src="./assets/layers.svg" width="30px">
    </button>

    <app-layers [isShowLayers]="isShowLayers" [isSurveyLayerVisible]="isSurveyLayerVisible" [layerNames]="layerNames"
      [layers]="getLayers()" [surveyAreas]="surveyAreas" [selectedSurveyAreas]="selectedSurveyAreas"
      [isLoading]="isLoading" [layerFeatures]="layerFeatures" [selectedFeatures]="selectedFeatures"
      (layerToggle)="onLayerToggle($event)" (countryBorderToggle)="onCountryBorderToggle($event)"
      (countyToggle)="onCountyToggle($event)" (districtToggle)="onDistrictToggle($event)"
      (surveyAreaToggle)="onSurveyAreaToggle($event)" (featureToggle)="onFeatureToggle($event)"
      (allFeaturesToggle)="onAllFeaturesToggle($event)" (mouseLeave)="onMouseLeaveLayerList()"
      [countiesList]="countiesList" [districtsList]="districtsList" (areaMappingDataChange)="onAreaMappingData($event)">
    </app-layers>
  </div>

  <div class="area-mapping-container">
    <button (click)="openAreaMapping()" style="float: right;" title="Area Mapping">
      <!-- <i class="fa fa-map"></i> -->
      <img src="./assets/area-mapping.svg" width="30px">
    </button>
    <app-area-mapping
      [(visible)]="showAreaMappingPanel"
      (areaMappingDataChange)="onAreaMappingData($event)">
    </app-area-mapping>
  </div>

  <!-- Add the drawing tools component -->
  <app-drawing-tools [userId]="userId" [selectedSurvey]="selectedSurvey" [selectedSurveyAreaId]="selectedSurveyAreaId"
    (drawStart)="startDrawing($event)" [currentDrawingMode]="currentDrawingMode"
    (polygonDrawStart)="startDrawingPolygon()" (clearDrawings)="clearDrawings()"
    (closeLayerPanel)="onCloseLayerPanel()">
  </app-drawing-tools>
</div>

<button *ngIf="isConnectivityBtn && selectedSurvey?.surveyStageName?.toLowerCase() === 'design'" class="create-connection" (click)="AddConnectivity('connectivity',selectedFeatureDetails)">
  Connectivity
</button>
<button (click)="toggleBasemap()" class="control-btn-map">
  {{ basemapVisible ? 'Hide' : 'Show' }} Basemap
</button>
<button (click)="exportToPDF()" class="control-btn-export-btn"
  *ngIf="isSurveyShow && selectedSurvey?.surveyStageName?.toLowerCase() === 'digitalization'">
  📄 Export PDF
</button>
<button (click)="exportDigitalizeExcel()" class="control-btn-export-excel"
  *ngIf="isSurveyShow && selectedSurvey?.surveyStageName?.toLowerCase() === 'digitalization'">
  📊 Export Survey Info
</button>
<button (click)="exportToExcel()" class="control-btn-export-btn"
  *ngIf="isSurveyShow && selectedSurvey?.surveyStageName?.toLowerCase() === 'bom'">
  📊 Export Excel
</button>
<app-map-background-switcher (backgroundChanged)="onBackgroundChanged($event)">
</app-map-background-switcher>

<!-- form -->
<div class="form-container" *ngIf="addNetworkElement">
  <ng-container *ngIf="showForm">
    <div #formContainer class="dynamic-form"></div>
  </ng-container>
</div>

<!-- Add near the bottom of your template -->
<div *ngIf="showFeatureDetails" class="feature-details-panel">
  <div class="feature-details-header">
    <h3>{{ selectedFeatureDetails?.name || (selectedFeatureDetails?.layerName | uppercase) }}</h3>
    <button (click)="showFeatureDetails = false">×</button>
  </div>

  <div class="feature-details-content">
    <div *ngFor="let prop of getFeatureProperties(selectedFeatureDetails)" class="property-row">
      <strong [title]="prop.key">{{ prop.key }}:</strong>
      <span [title]="prop.value">{{ prop.value}}</span>
    </div>
        <!-- Edit button for editable layers -->

      <!-- Action buttons -->
  <div class="action-buttons">
    <!-- Edit Button -->
    <button
    *ngIf="['fat','fdt','olt','8m poles','10m poles','12m poles','sdu','mdu','cdu','building','splitter','jointclosure','cable'].includes(selectedFeatureDetails?.layerName)
    && hasNetworkElementEditPermission"
     class="action-btn edit-btn" (click)="onEditFeature(selectedFeatureDetails)">
      <i class="fa fa-pencil"></i> Edit
    </button>

    <!-- Delete Button -->
    <button
    *ngIf="['fat','fdt','olt','8m poles','10m poles','12m poles','sdu','mdu','cdu','building','splitter','jointclosure','cable'].includes(selectedFeatureDetails?.layerName)
    && hasNetworkElementDeletePermission"
     class="action-btn delete-btn" (click)="onDeleteFeature(selectedFeatureDetails)">
      <i class="fa fa-trash"></i> Delete
    </button>

    <!-- <button *ngIf="['fat','olt', 'jointclosure', 'fdt'].includes(selectedFeatureDetails?.layerName) && selectedSurvey?.surveyStageName === 'Design'"
      class="action-btn assign-btn" (click)="AddConnectivity()"> -->
    <button *ngIf="['fat','olt', 'jointclosure', 'fdt'].includes(selectedFeatureDetails?.layerName) && selectedSurvey?.surveyStageName === 'Design'"
      class="action-btn assign-btn" (click)="AddConnectivity('update',selectedFeatureDetails)">
       Connectivity
    </button>
  </div>
    <!-- <p-confirmDialog></p-confirmDialog> -->
  </div>
</div>

<app-survey-assignment-dialog [(visible)]="showSurveyDialog" (surveyStatusUpdated)="refreshSurveyStage()"></app-survey-assignment-dialog>

<app-layer-dialog (layerSelected)="onLayerSelected($event)"  [surveyStage]="currentSurveyStage" ></app-layer-dialog>

<app-survey-stage *ngIf="hasSurveyViewPermission" [visible]="showSurveyStage" #surveyStageComp (stageChanged)="onStageChanged($event)" (surveySelected)="onSurveySelected($event)" (multiSurveySelected)="onMultiSurveySelected($event)"></app-survey-stage>

<button class="toggle-btn" (click)="toggleDesign()" >
  {{ useAlternativeDesign ? 'Digitalization' : 'Survey'  }}
</button>

<app-connection-dialog
  [(visible)]="showDialog"
  [active]="active"
  [items]="items"
  [connectivityFeatureData]="connectivityFeatureData"
  [fatCoordinates]="fatCoordinates"
  [selectedSurveyAreaId]="selectedSurveyAreaId"
  [mvnoId]="mvnoId"
  [nearbyElementsData]="nearbyElements" 
  (activeChange)="active = $event"
  (splitterCreated)="onSplitterCreated($event)"
  (openCableForm)="openCableFormFromDialog()"
  (connectivity)="onConnectivity($event)"
></app-connection-dialog>


<app-parent-connection-dialog
  [(visible)]="showParentConnectionDialog"
  [sourceElement]="selectedFromElement"
  [destinationElement]="selectedToElement"
  [selectedSurveyAreaId]="selectedSurveyAreaId"
  [nearbyElements]="nearbyElements" 
  (elementSelected)="onNearbyElementSelected($event)"
  (connectivity)="onParentConnectivity($event)"
  (mapSelectionRequested)="onMapSelectionRequested()">
</app-parent-connection-dialog>

<app-nearby-elements-dialog
  [(visible)]="showNearbyElementsPopup"
  [nearbyElements]="nearbyElements"
  [isLoading]="isLoadingNearbyElements"
  (elementSelected)="onNearbyElementSelected($event)"
  (close)="onNearbyElementsPopupClose()">
</app-nearby-elements-dialog>