<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-field">
    <label for="name">Name:</label>
    <input id="name" type="text" formControlName="name" required>
  </div>

  <div class="form-field">
    <label for="port">Port:</label>
    <input id="port" type="number" formControlName="port" required>
  </div>

  <div class="form-field">
    <label for="typeId">FDP Type:</label>
    <select id="typeId" formControlName="typeId" required>
      <option value="">-- Select type --</option>
      <option *ngFor="let type of fdpTypes" [value]="type.id">
        {{ type.name }}
      </option>
    </select>
  </div>

  <!-- <div class="form-field">
    <label for="popId">POP ID:</label>
    <select id="popId" formControlName="popId" required>
      <option value="">-- Select POP --</option>
      <option *ngFor="let pop of popList" [value]="pop.id">
        {{ pop.name }}
      </option>
    </select>
  </div> -->

   <div class="form-field">
    <label for="status">Status:</label>
    <select id="status" formControlName="status" required>
      <option value="">-- Select Status --</option>
      <option value="Planned">Planned</option>
      <option value="InService">In Service</option>
      <option value="Inactive">Inactive</option>
    </select>
  </div>

   <button *ngIf="!isEditMode" type="submit" [disabled]="form.invalid">Submit</button>
  <button *ngIf="isEditMode" type="submit" [disabled]="form.invalid">Update</button>
</form>